body{
	border: 1px solid black;
	font-size: 16px;
	margin: 0px auto;
	max-width: 2082px;
}
header{
	padding-left: 15px;
	padding-bottom: 20px;
}
header img{
	margin-left: 215px;
}
header input{
	height: 51px;
	vertical-align: top;
	width: 150px;
}
#seccion01{
	background: #2b2b2b;
}
#seccion01 article{
	display: inline-block;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	vertical-align: top;
	width: 379px;
}
#seccion01 ul{
	list-style: none;
}
#seccion01 ul li{
	font-size: 1.5em;
}
#seccion02{
	background: #2b2b2b;
	border-top: 1px solid #838383;
}
#seccion02 article{
	display: inline-block;
	height: 90px;
	margin-top: 30px;
	vertical-align: top;
	width: 650px;
}
#seccion02 article img{
	border-bottom: dashed gray;
  	border-width: 1px; 
 	margin-left: 125px;

	padding-bottom: 15px;
}
#seccion03 article{
	display: inline-block;
	height: 150px;
	margin-top: 30px;
	vertical-align: top;
	width: 650px;
}
#seccion03 {
	background: #2b2b2b;
}
.color_gris{
	background: #545454;
}
.color_grisclaro{
	background: #e6e6e6;
}
.color_rojo{
	background: #d23b3a;
}
.color_verde{
	background: #b7ce3e;
}
.letra_comun{
	color: #838383;
}
.letra_home{
	color: white;
}